body {
    font-family: 'Muli', sans-serif;
    text-align: center;
}
table {
    border: 2px solid green;
    margin: auto;
}
table thead {
    background-color: rgb(140, 235, 129);
}
h2 {
    color: rgb(62, 145, 52);
}
h1 {
    color: rgb(10, 69, 3);
}